@{
    ViewBag.Title = "主要技术使用说明";
}
@model IEnumerable<Lind.DDD.FreeDemo.Controllers.AboutInfo>
<h2>Lind.DDD框架功能点目录</h2>
<style>
    .gridtable span {
        color: red;
    }

    .gridtable b {
        color: #179a00;
        font-weight: 100;
    }

    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 0px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
            height: 25px;
            padding: 5px;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 0px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
            height: 25px;
            padding: 5px;
        }
</style>
<script>
    $(function () {
        $(".gridtable tr:even td").attr("style", "background:#f0f0f0");
        $(".gridtable tr:odd td").attr("style", "background:#fff");
    });
</script>
<table class="gridtable">
    <tr>
        <th></th>
        <th>功能模块</th>
        <th>所在项目</th>
        <th>所在具体路径</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><i>@item.Id</i></td>
            <td>@Html.Raw(item.Function)</td>
            <td>@item.Project</td>
            <td>@Html.Raw(item.Detail)</td>
        </tr>
    }
</table>
