@model WebManageUsers
@{
    ViewBag.Title = "添加用户";
}
@Html.BindToFormMore(Model,
@<div>
    @Html.Action("DeptDropdownList", "WebUser")
</div>
, i => i.LoginName
, i => i.RealName
, i => i.Password
, i => i.Mobile
, i => i.Email
, i => i.ThridUserId
, i => i.Description)

@Scripts.Render("~/bundles/jqueryval")
