@{
    ViewBag.Title = "List";
}

<h2>列表，<a href="/home/create">添加一个用户</a></h2>

<table border="1">
    <tr>
        <th>Id</th>
        <th>NickName</th>
        <th>RealName</th>
        <th>UserName</th>
        <th></th>
    </tr>
    <tbody data-bind="foreach:lines">
        <tr>
            <td data-bind="text:Id"></td>
            <td data-bind="text:Email"></td>
            <td data-bind="text:RealName"></td>
            <td data-bind="text:UserName"></td>
            <td>
                <a href="javascript:void(0)" data-bind="click:$parent.edit">编辑</a>
                <a href="javascript:void(0)" data-bind="click:$parent.del">删除</a>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/ecmascript">
    $(function () {
        $.getJSON("http://localhost:24334/api/values?page=1,10&sort=CreateDateTime|-1", function (data) {
            var Cart = function () {
                var self = this;
                var json = JSON.parse(data.Result);
                self.lines = ko.observableArray(json.Model);
                self.edit = function (o) {
                    location.href = "/home/edit/" + o.Id;
                }
                self.del = function (o) {
                    location.href = "/home/delete/" + o.Id;
                }
            };
            ko.applyBindings(new Cart());
        });

    });
</script>
