@{
    ViewBag.Title = "IndexEntity";
}
@model Lind.DDD.Paging.PagedList<SOA.DTO.ResponseUserInfo>
<h2>用户列表</h2>
<table>
    <tr>
        <th>用户名</th>
        <th>电子邮件</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        { 
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
        </tr>
        }
    }
</table>
