* {
    font-family: "Consolas";
    font-size: 12px;
}

body {
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width:100%;
}

    table.gridtable th {
        border-width: 1px;
        padding: 0px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        height: 25px;
        padding: 5px;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 0px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        height: 25px;
        padding: 5px;
    }*/

.display-label {
    font-weight: bold;
    display: inline;
    padding: 5px;
}

.display-field {
    background: #eee;
    padding: 5px;
}

input, select {
    border: 1px solid #aaa;
    margin: 5px;
}

    input[type=button], input[type=submit], input[type=reset], button {
        background: #dedede;
        border: 1px solid #aaa;
        padding: 5px;
    }
