<?xml version="1.0"?>
<WxPaymentConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppId>wxbc45c870bddd35df</AppId>
  <Mch_Id>1234542902</Mch_Id>
  <Key>tsingda3214567890987654321000111</Key>
  <!--接收微信通知的Url-->
  <!--<NOTIFY_URL>http://111.203.248.34:23780/Payment/WxPayNotify</NOTIFY_URL>-->
  <NOTIFY_URL>http://beta3.xuexiba.com/Payment/WxPayNotify</NOTIFY_URL>
  <TimeOut>10</TimeOut>
  <UnifiedOrderUrl>https://api.mch.weixin.qq.com/pay/unifiedorder</UnifiedOrderUrl>
  <OrderQueryUrl>https://api.mch.weixin.qq.com/pay/orderquery</OrderQueryUrl>
  <!--发给微信的订单号的前缀，用于区分内测(InnerTest)，外测(Beta)和外正(Xuexiba)-->
  <!--<OutTradeNoPrefix>InnerTest</OutTradeNoPrefix>-->
  <OutTradeNoPrefix>Beta</OutTradeNoPrefix>
</WxPaymentConfig>