<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpModules>
      <!-- this is for Classic mode and Cassini -->
      <add name="UrlRewriteModule" type="Lind.DDD.HttpExtensions.HttpModules.UrlRewriteModule,Lind.DDD"/>
    </httpModules>
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <!--This is for Integrated mode-->
      <add name="UrlRewriteModule" type="Lind.DDD.HttpExtensions.HttpModules.UrlRewriteModule,Lind.DDD"/>
    </modules>

    <validation validateIntegratedModeConfiguration="false"/>
    <!-- 缩略图使用：http://www.daishu.com/a.jpg?w=100&h=100 
         重写路由后：http://www.daishu.com/a_100x100.jpg 
     -->
    <handlers>
      <add name="ImageFunction1" path="*.jpg" verb="GET" type= "Lind.DDD.HttpExtensions.HttpHandlers.ImageScalingHandler,Lind.DDD"/>
      <add name="ImageFunction2" path="*.png" verb="GET" type= "Lind.DDD.HttpExtensions.HttpHandlers.ImageScalingHandler,Lind.DDD"/>
      <add name="ImageFunction3" path="*.gif" verb="GET" type= "Lind.DDD.HttpExtensions.HttpHandlers.ImageScalingHandler,Lind.DDD"/>
      <add name="ImageFunction4" path="*.jpeg" verb="GET" type="Lind.DDD.HttpExtensions.HttpHandlers.ImageScalingHandler,Lind.DDD"/>
    </handlers>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
