@model Lind.DDD.Domain.WebAuthorityCommands

@{
    ViewBag.Title = "添加权限按钮";
}
@Html.BindToFormMore(Model, (long)Lind.DDD.Authorization.Authority.Create,
@<div class="form-group">
    <label class="col-sm-2">特性</label>
    <div class="col-sm-10">
        @Html.DropDownListEnumFor("Feature",typeof(Lind.DDD.Domain.WebAuthorityCommandFeature),false)
    </div>
</div>
, i => i.Name, i => i.ActionName, i => i.ClassName)
