@model IEnumerable<Lind.DDD.Domain.WebAuthorityCommands>

@{
    ViewBag.Title = "权限按钮列表";
    int totalRecord = Convert.ToInt32(ViewBag.TotalRecord);

}
<form class="form-inline" novalidate="novalidate">
    <a class="btn btn-success" href="/WebAuthorityCommand/Create">添加一个</a>
</form>
<p></p>
@Html.BindToTable(Model,
(long)(Lind.DDD.Authorization.Authority.Detail |
       Lind.DDD.Authorization.Authority.Delete),
i => i.Flag,
i => i.Name,
i => i.ActionName,
i => i.Feature,
i => i.IsUsed
 )

@Html.GeneratePagger(totalRecord)
