<?xml version="1.0"?>
<WxPaymentConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<AppId>wx26cb5152def1a1fd</AppId>
  <Mch_Id>1251904501</Mch_Id>
  <Key>tingdaxmt98765432101234567890666</Key>
  <AppSecret>8deaf277b3d3064179968e7f0507b711</AppSecret>-->


  <AppId>wxca05e37d906ef6b2</AppId>
  <Mch_Id>1328333301</Mch_Id>
  <Key>CCAC8975F4F85E2E14C51B83F8654427</Key>
  <AppSecret>55605f4b6590775a87663e1da77509b1</AppSecret>


  <!--接收微信通知的Url-->
  <!--<NOTIFY_URL>http://111.203.248.34:23780/Payment/WxPayNotify</NOTIFY_URL>-->
  <NOTIFY_URL>http://x.158.cn/Order/Notify</NOTIFY_URL>
  <TimeOut>10</TimeOut>
  <UnifiedOrderUrl>https://api.mch.weixin.qq.com/pay/unifiedorder</UnifiedOrderUrl>
  <OrderQueryUrl>https://api.mch.weixin.qq.com/pay/orderquery</OrderQueryUrl>
  <!--发给微信的订单号的前缀，用于区分内测(InnerTest)，外测(Beta)和外正(Xuexiba)-->
  <!--<OutTradeNoPrefix>InnerTest</OutTradeNoPrefix>-->
  <OutTradeNoPrefix>Beta</OutTradeNoPrefix>
</WxPaymentConfig>